
<!DOCTYPE html>
<html>
  <head>
    <title>Fblog</title>
    <!-- bootstrap like for now later gem  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "hello_coffee", "data-turbolinks-track" => true  %>
  </head>

  <body style="background-color:#f8f8f8;">
    <%= yield %>
  </body>
</html>

